*{
    box-sizing: border-box;
  
    margin: 0;
 
}


body{
    background-color: black;
    overflow: hidden;
}

canvas{
    position: absolute;
    top:0;
    left: 0;
    background: transparent;
    z-index: 105;
}


.cursor_item{
    position: fixed;

    width: 100px;
    height: 100px;
    background-color: red;

    margin: -50px 0 0 -50px;
   

    transition: all  0.5s ease;


    
}
.mid_human{
    position: absolute;
    width: 500px;
    height: auto;
    transition: all  0.5s ease;
    left: calc(50% - 250px);

    opacity: 0.4;

    
    animation: ghost 3s linear infinite;

}
.background_blur{
    position: absolute;

    z-index: -100;
    top: 0;
}

.arrow{
    width: 220px;
    height: auto;
    position: absolute;

}

.left_arrow{
   
    left: 70%;
    top: 50%;

}

.yellowArrow{
    left: 70%;
    top: 20%;
}

.love{
    width:150px;
    height: auto;
    position: absolute;
    top: 30px;
    left: calc(50% - 75px);
    animation: flitering 3s ease-out infinite;
    z-index: 202;
}

.beer{
    position: absolute;
    left: 10%;
    top: 5%;
    width: 250px;
    height: auto;

    animation: flitering 4s ease-out infinite;
}

.moon{
    position: absolute;
    width: 400px;
    height: auto;
    top: 30%;
    left: 10%;
    z-index: 202;
    
}

.music{
    position: absolute;
    width: 200px;
    height: auto;
    filter: brightness(30%);
    left: 10%;
    top: 30%;
    z-index: 201;

}
.image_collector{

}


@keyframes flitering{
    0%{

        filter: brightness(1.75);

    }

    50%{
        filter: brightness(50%);

    }

    100%{
        filter: brightness(1.75);
    }
}
@keyframes ghost{
    0%{
        opacity: 0.2;
    }

    50%{
        opacity: 0.6;
    }

    100%{
        opacity: 0.2;
    }
}

@keyframes heartBit{
    0% {
        transform:  scale(0.8);
      }
      5% {
        transform:  scale(0.9);
      }
      10% {
        transform:  scale(0.8);
      }
      15% {
        transform:  scale(1);
      }
      50% {
        transform:  scale(0.8);
      }
      100% {
        transform:  scale(0.8);
      }
}